@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
}

/* GENERAL ELEMENTS STYLING */
p {
  font-size: 1.2rem;
  font-weight: normal;
  opacity: 0.6;
}

h2 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 101.1%;
  margin: 1.5rem 0;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
}

.btn {
  border-radius: 50px;
  background-color: #ffbb62;
  outline: none;
  border: none;
  width: 100px;
  height: 32px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
}

/* STYLING FOR SECTIONS AND INNER CONTENT */

.section-container {
  max-width: 80%;
  margin: 0 auto;
}

.inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HOME WITH NAVBAR SECTION */
.home {
  background: url("./images/background1.svg"), #029f58;
  text-align: center;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}

nav li {
  padding: 2rem;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main h1 {
  font-weight: bold;
  font-size: 8rem;
  line-height: 101.1%;
  margin-bottom: 2rem;
}

.main p {
  opacity: 1;
}

.app-download > * {
  padding: 3rem 1rem;
}

.phone-container {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.phone-container img {
  position: absolute;
  transform-origin: center;
  bottom: 0;
}

.phone-container img:nth-child(2) {
  z-index: 2;
}

.phone-container img:nth-child(3) {
  margin-right: -350px;
}

.phone-container img:nth-child(1) {
  margin-right: 350px;
}

/* EAR1 HELP SECTION */

.what-can {
  background: url("./images/what-can/bg.svg");
}

.what-can .inner-content {
  position: relative;
  padding: 7rem 0;
}

.what-help {
  display: flex;
  flex-direction: column;
}

.what-help h2 {
  color: #007640;
}

.what-can-logo {
  position: absolute;
  margin: -3.5rem 0 0 -3.5rem;
  z-index: -1;
}

.what-can-logo2 {
  z-index: -1;
  top: 0;
  right: 0;
  position: absolute;
}

/* CONNECT WITH TOP INFLUENCERS SECTION */
.influencers .inner-content {
  padding: 7rem 0;
}

.influencer-img {
  position: relative;
  height: 438px;
  padding: 7rem;
}

.influencer-img img {
  object-fit: contain;
  object-position: top;
  position: absolute;
  top: 0;
  right: 0;
}

/* ASSURED AND CHAT SECTION */

/* Be assured of replies */
.btn-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replies .content {
  background: url("./images/replies/bg.svg");
  background-color: #007640;
  color: #ffffff;
  padding: 10%;
  width: 50%;
}

.replies .content > div {
  margin: auto;
  width: 80%;
}

.replies-container {
  display: flex;
}

/* Chat Section */
.chat-box {
  background: url("./images/replies/message-bg.svg");
  background-color: #f0f0e6;
  flex: 1;
  position: relative;
}

.chat-box p {
  opacity: 1;
}

.chat-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile {
  display: flex;
  align-items: center;
  background: #fffffd;
  padding: 1rem;
}

.profile > * {
  margin: 0 1rem;
}

.chats {
  display: flex;
  flex-direction: column;
  min-height: 37rem;
}

.chats time {
  font-size: 0.8rem;
}

.chat1-container time {
  float: right;
}

.chats > * {
  padding: 1rem;
  width: 60%;
  background: #ffffff;
}

.chat1-container {
  border-radius: 20px 20px 0px 20px;
  margin: 4rem 0 1rem 0;
  align-self: flex-end;
}

.chat2-container {
  border-radius: 15px 15px 15px 0px;
  margin: 1rem 0;
}

.chat3-container {
  border-radius: 15px 15px 15px 0px;
  margin: 1rem 0;
}

.chat-box .input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffffd;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 70%;
  margin-right: 30%;
}

.input-content > .input-field {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.input-icons {
  display: flex;
}

/* SETTLEMENTS & EARN MONEY WHILE YOU CHAT SECTION */

.earn-money-img {
  flex: 1;
  padding-top: 4rem;
  bottom: 0;
}

.earn-money .btn {
  background-color: #ff8c62;
}

/* NOTIFICATION AND FILTER NOISE SECTION */
.notification-container {
  display: flex;
}

.notifications .btn {
  background-color: #ff8c62;
}

.filter-noise-img {
  background: #272727;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  flex: 1;
  width: 50%;
}

.notifications .content {
  background: #202020;
  color: #ffffff;
  max-width: 50%;
  flex: 1;
  padding: 7rem;
}

.notifications .content > div {
  margin: auto;
  width: 80%;
}
